<!DOCTYPE html>
<html lang="en">
<%- include('partials/_head.ejs') %>
<body>
<%- include('partials/_header.ejs') %>
<main role="main" class="container mt-4">
    <h2>Monthly Production Plan Dashboard</h2>
    <canvas id="productionPlanChart"></canvas>
</main>
<script src="/js/chart.min.js"></script>
<script src="/js/dashboard.js"></script>
<%- include('partials/_footer.ejs') %>
</body>
</html>